/*==variables==*/
    :root {
        /*==font sizes==*/
        --h1-font-size: 3rem;
        --h2-font-size: 2rem;
        --p-font-size: 1rem;

    }
    /*==large screen font sizes==*/
    @media screen and (min-width: 1100) {
        :root {
            --h1-font-size: 4.5rem;
            --h2-font-size: 4rem;
            --p-font-size: 1rem;
       }
    }

/*==base==*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    font-size: 20px;
}
svg {
    padding: 0.15rem;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
}
/*==text formatting==*/
h1 {
    font-size: var(--h1-font-size);
    color: #707c96;
    line-height: 1;
}
h2 {
    font-size: var(--h2-font-size);
    color: #707c96;
    line-height: 2;
}
p {
    font-size: var(--p-font-size);
    color: #a0abc0;
    line-height: 4;
}

/*==reusable css=*/
.header {
    background-color: #fffefe;
    overflow: hidden;
    padding: 10px;
    display: grid;
    grid-template-columns: 40px [col-start] auto [col-start] 20px [col-start];
}

.header_right {
    grid-column-start: 3;
}

.topnav a {
    width: 100%;
    float: left;
    display: inline-block;
    color: #fffefe;
    text-align: center;
    font-size: 20px;
    padding: 0;
}

.topnav a:hover {
    background-color: #57a0d2;
}

.content {
    background-color: #edf0f7;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    margin: 0 auto;
    max-width: 1100;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
}

hr.rounded {
    border-top: .25rem solid #1a202c;
    border-radius: .5px;
}

/*==buttons==*/
.button-1 {
    display: inline-block;
    border-radius: .5rem;
    background-color: #2c3748;
    padding: 1rem;
    margin: 1rem;
    color: #edf0f7;
}

.button-1:hover {
    background-color: #57a0d2;
}

.button-2 {
    display: inline-block;
    border-radius: .5rem;
    background-color: #edf0f7;
    padding: 1rem;
    margin: 1rem;
    color: #1a202c;
}

.button-2:hover {
    background-color: #57a0d2;
}

.button_flex{
    display: inline-flex;
    align-items: center;
  }

  /*==images==*/
.logo {
    grid-column-start: 1;
}

.first_photo {
    background-color: #fffefe;
    padding: 50px;
    align-items: center;
}

.second_photo {
    background-color: #707c96;
    padding: 50px;
    align-items: center;
}
/*==footer==*/
.footer {
    background-color: #1a202c;
    padding: 10px;
    text-align: left;
}

.footer_copy {
    padding: 10px;
}

.footer_link {
    padding: 10px;
}

.footer_link a:hover {
    color: #57a0d2;
}